<div class="bg-white rounded-xl p-6">
  <div class="flex flex-col gap-4">
    <h1 class="text-xl font-bold text-primary-title">Recent Transactions</h1>
    <a class="text-[#2563EB] underline cursor-pointer" routerLink="/transactions">View all</a>
    <div class="w-full overflow-x-auto">
      <table class="w-full border-collapse text-left">
        <thead>
          <tr class="bg-gray-200 text-gray-700">
            <th class="px-6 py-3 font-semibold">Transaction</th>
            <th class="px-6 py-3 font-semibold">Category</th>
            <th class="px-6 py-3 font-semibold">Date</th>
            <th class="px-6 py-3 font-semibold text-right">Amount</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          @for (value of data(); track value.id) {
            <tr class="border-b">
              <td class="px-6 py-4">{{ value.name }}</td>
              <td class="px-6 py-4">{{ value.category.name }}</td>
              <td class="px-6 py-4">{{ value.dateTime | date: 'dd MMM yyyy' }}</td>
              <td class="px-6 py-4 text-right">
                {{ value.amount > 0 ? '+' : '-' }}₼{{ Abs(value.amount) }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
