<div class="flex flex-col gap-6">
  <app-add-transaction
    [isOpen]="isModalOpen()"
    [categories]="categories"
    (close)="closeModal()"
    (saveTrasaction)="saveTransaction($event)"
  ></app-add-transaction>
  <div class="py-3 flex justify-between">
    <h1 class="text-2xl text-primary-title font-bold">Transactions</h1>
    <button
      (click)="isModalOpen.set(true)"
      class="w-[240px] h-10 rounded-lg bg-primary-green text-white font-semibold hover:opacity-90 text-[16px]"
    >
      Add transaction
    </button>
  </div>
  <div class="filters">Filters</div>
  <div class="w-full overflow-x-auto bg-white rounded-xl shadow">
    <table class="w-full border-collapse text-sm text-gray-700">
      <!-- Header -->
      <thead>
        <tr class="bg-gray-100 text-gray-600 text-left">
          <th class="px-6 py-3">Date</th>
          <th class="px-6 py-3">Category</th>
          <th class="px-6 py-3">Description</th>
          <th class="px-6 py-3">Amount</th>
          <th class="px-6 py-3">Type</th>
          <th class="px-6 py-3 text-center">Actions</th>
        </tr>
      </thead>

      @if (transactions() !== null) {
        <tbody>
          @for (value of transactions()?.values; track value.id) {
            <tr class="border-t hover:bg-gray-50">
              <td class="px-6 py-4">{{ value.dateTime | date: 'dd MMM yyyy' }}</td>

              <!-- Category with icon -->
              <td class="px-6 py-4 flex items-center gap-3">
                <div
                  class="w-8 h-8 flex items-center justify-center rounded-full bg-teal-100 text-teal-600"
                ></div>
                {{ value.category.name }}
              </td>

              <td class="px-6 py-4 break-all">
                {{ value.description }}
              </td>

              <td class="px-6 py-4">{{ value.amount > 0 ? '+' : '-' }}₼{{ Abs(value.amount) }}</td>

              <!-- Type badge -->
              <td class="px-6 py-4">
                <span
                  class="px-3 py-1 text-xs rounded-full"
                  [class]="
                    value.amount > 0 ? 'bg-teal-100 text-teal-600' : 'bg-red-100 text-red-600'
                  "
                >
                  {{ value.amount > 0 ? 'Income' : 'Expense' }}
                </span>
              </td>

              <!-- Actions -->
              <td class="px-6 py-4 flex justify-center gap-2">
                <button
                  class="w-8 h-8 flex items-center justify-center rounded-full bg-yellow-400 text-white hover:opacity-90"
                >
                  ✏️
                </button>
                <button
                  (click)="deleteTransaction(value.id)"
                  class="w-8 h-8 cursor-pointer flex items-center justify-center rounded-full bg-red-500 text-white hover:opacity-90"
                >
                  🗑️
                </button>
              </td>
            </tr>
          }
        </tbody>
      }
    </table>
  </div>
  @if (transactions() !== null) {
    <app-pagination
      [page]="transactions()!.page"
      [pageSize]="transactions()!.pageSize"
      [total]="transactions()!.total"
      (pageChange)="changePage($event)"
    ></app-pagination>
  }
</div>
