<div
  class="w-full p-[15px] flex xl:flex-row flex-col lg:justify-between justify-center gap-3 lg:gap-2"
>
  <div class="flex-1">
    <app-line-chart
      [expenseData]="expenseData()"
      [incomeData]="incomeData()"
      [labels]="chartLabels()"
      class="flex justify-center"
    ></app-line-chart>
  </div>
  <div class="flex-1">
    <app-pie-chart class="flex justify-center" [expensesData]="pieData()"></app-pie-chart>
  </div>
</div>
<app-table [data]="transactionResponse()"></app-table>
