/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary-green: #00b894;
  --color-primary-grey: #64748b;
  --color-primary-title: #1e293b;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
