/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-primary-green: #00b894;
  --color-primary-grey: #64748b;
  --color-primary-title: #1e293b;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.form-input {
  border: 1px solid #64748b; /* FIXED */
  border-radius: 4px;
  padding: 15px 10px;
}

.form-input::placeholder {
  color: #64748b;
}
.form-input:focus {
  color: #64748b;
}
